<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <!-- Incluye Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <a class="btn btn-primary" href="/clientes/nuevo" role="button">Agregar Cliente</a>
        <h1 class="text-center mt-4">Tabla de Clientes</h1>
        <table class="table mt-4">
            <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {{#each clientes}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.nombre}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.telefono}}</td>
                    <td>{{this.direccion}}</td>
                    <td><a class="btn btn-warning" href="/clientes/editar/{{this.id}}" role="button">Editar</a></td>
                    <td>
                        <form action="/clientes/eliminar/{{this.id}}" method="POST">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <!-- Incluye jQuery y Bootstrap JS (opcional, pero necesario para algunas funcionalidades de Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
